In [5]:
import pandas as pd
df = pd.read_csv('/Users/samikshaburkul/Desktop/Datawarehousing project/Liquor_Sales.csv')
print(df.dtypes)
df.head()

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df.dropna(inplace=True)
df.columns = ['invoice_number','date','store_number','store_name','address','city','zip_code','store_location','county_number','county','category','category_name','vendor_number','vendor_name', 'item_number','item_description','pack','bottle_volume_ml','state_bottle_cost','state_bottle_retail','bottles_sold','sale_usd','volume_sold_liters','volume_sold_gallons']
df.drop('item_number', axis=1, inplace=True)
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
df['store_number'] = df['store_number'].astype(int)
df['county_number'] = df['county_number'].astype(int)
df['category'] = df['category'].astype(int)
df['vendor_number'] = df['vendor_number'].astype(int)
df['pack'] = df['pack'].astype(int)
df['bottle_volume_ml'] = df['bottle_volume_ml'].astype(int)
df['bottles_sold'] = df['bottles_sold'].astype(int)
df.head()

,invoice_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,vendor_name,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_liters,volume_sold_gallons
0,S24127700024,2015-02-19,3678,"Smoke Shop, The",1918 SE 14TH ST,DES MOINES,50320,POINT (-93.597011 41.570844),77,Polk,...,Phillips Beverage Company,Uv Blue Raspberry Vodka Mini,6,500,4.89,7.34,2,14.68,1.0,0.26
1,S15066200002,2013-10-10,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14TH ST,DES MOINES,50320,POINT (-93.596754 41.554101),77,Polk,...,MHW Ltd,Sabe Premiom Sake Double Barrel,6,750,14.99,22.49,6,134.94,4.5,1.19
2,S19323500030,2014-06-03,2607,Hy-Vee Wine and Spirits / Shenandoah,520 SO FREMONT,SHENANDOAH,51601,POINT (-95.385111 40.761736),73,Page,...,Luxco-St Louis,Paramount White Rum,12,1000,4.34,6.51,12,78.12,12.0,3.17
3,S23334500013,2015-01-06,4810,Kum & Go #518 / Ankeny,3603 NE OTTERVIEW CIRCLE,ANKENY,50021,POINT (-93.572458 41.760989),77,Polk,...,"Bacardi U.S.A., Inc.",Bacardi Superior Rum Mini,12,500,5.54,8.31,1,8.31,0.5,0.13
4,S09742200010,2012-12-27,4025,Karam Kaur Khasriya Llc,702 13TH ST,BELLE PLAINE,52208,POINT (-92.277759 41.897052),6,Benton,...,Diageo Americas,Crown Royal Canadian Whisky,6,1750,31.00,46.49,2,92.98,3.5,0.92

In [ ]:
df.to_csv('liquor_sales_updated.csv', index=False)

In [ ]:
dff = pd.read_csv('/Users/krishnasurya/Downloads/liquor_sales_updated.csv')
dff.dtypes

/var/folders/5f/7v8mj7yn1kv22ww3m91nt6_00000gn/T/ipykernel_48546/113598518.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  dff = pd.read_csv('/Users/krishnasurya/Downloads/liquor_sales_updated.csv')

invoice_number          object
date                    object
store_number             int64
store_name              object
address                 object
city                    object
zip_code                object
store_location          object
county_number            int64
county                  object
category                 int64
category_name           object
vendor_number            int64
vendor_name             object
item_description        object
pack                     int64
bottle_volume_ml         int64
state_bottle_cost      float64
state_bottle_retail    float64
bottles_sold             int64
sale_usd               float64
volume_sold_liters     float64
volume_sold_gallons    float64
dtype: object